*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Kaushan Script', cursive;
    color:#fff;
    }
    body{
      background-color: rgb(82, 76, 76);
      width: 100%;
    }
    
  /*   h1, h2, h3,h4,h5{
    font-family: 'Great Vibes', cursive;
    color:#fff;
 } */

 p{
    font-family:'Kaushan Script', cursive;
    text-align: justify;
    color: #fff;
 }

.header{
    background-color: black;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
    width: 100%;
}
.header .logo{
    cursor: pointer;
 }
 .header .logo img{
    width: 110px;
    transition: all 0.3s;
 }
 .header .logo img:hover{
    transform: scale(1.2);
 }
 .header .links li{
    display: inline-flex;
    padding: 20px;
}

.header .links a{
    font-family:'Kaushan Script', cursive;
   font-size:1rem ;
   color: #fff;
    text-decoration: none;
    padding: 20px;
}
article{
   padding: 10px;
}
.container{
   padding: 30px;
}
.ver-carrito{
   font-size: 30px;
   margin-right: 20px;
   margin-top: 3.5px;
   cursor: pointer;
}

/* estilos carrito con clases en js */
.contenido-tienda{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 30px;
   margin-left: 80px;
   margin-right: 80px;

}

.card{
   box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   padding: 10px;
}
.card img{
   width: 90%;
   height: 250 px;
}


.card button{
   border: none;
   outline: 0;
   padding: 10px;
   color: #fff;
   background-color: #0a0909;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 16px;

   }
.card button:hover{
   opacity: 0.6;
}

.precio{
   color: #fff;
   font-size: 16px;
   text-align: center;
}
.comprar{
   font-family:'Kaushan Script', cursive;
   border-radius: 10px;
}

.borrar-Producto{
   cursor: pointer;
}
.restar{
   cursor: pointer;
}
.sumar{
   cursor: pointer;
}
.cantidad-carrito{
   background-color: red;
   color: #fff;
   border-radius: 50%;
   font-size: 12px;
   padding: 4px;
   top: 37px;
   right: 14px;
   position: absolute;
   display: none;
}

/* Estilos del contenedor modal*/

.modal-container{
   width: 70%;
   margin: 0 10%;
   max-height: 88vh;
   color: #fff;
   background-color: #121212;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   overflow: auto;
   z-index: 9;
   top: 12vh;
   scrollbar-color: none;
}
.modal-container::-webkit-scrollbar{
   display: none;
}
.modal-header{
   display: flex;
   justify-content: space-around;
   background-color:#0a0909;
   color:#fff;
   width: 100%;
}
.modal-header-title{
   justify-self: start;
}
.modal-header-button{
   cursor: pointer;
}
.modal-container >.modal-content{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 70%;
   margin: 5px;
   
}
.modal-container > div > img{
   height: 130px;
   width: 130px;
}
.total-content{
   font-size: 30px;
   padding: 20px;
   text-align: center;
  }